.pizzaPrice__container{
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    align-items: center;
}
.pizzaPrice__price{
    width: 89px;
    height: 27px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #000000;
}